body {
    font-family: 'Gamja Flower', cursive;
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: #38e54f;
}

/* List */

ul {
    list-style: none;
}

li {
    text-align: right;
}
    
img {
    width: 100%;
}
